.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  font-size: 48px;
  text-align: center;
}

*{
  padding :5px;
}

.sub-header{
  text-align: center;
  font-size: 30px;
}

.sub-header2{
  font-size: 24px;
  margin-left : 20px;
}

.form{
  display: flex;
}

input{
  margin :5px;
}

table{
  width: 100%;
  text-align: center;
}